.yourInterest-container{
    position: relative;
    min-height: 80vh;
    height: 100vh;
    display: flex;
    flex-direction: row;
    max-width: 100%;
    width: 100vw;
    background: #fff;
}
.yourInterest-leftside{
    position: relative;
    display: flex;
    width: 50%;
    border: 2px solid #333;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    
}
.yourInterest-leftside .yourInterest-leftside_container{
    position: relative;
    bottom: 6rem;
    left: 1rem;
    display: inherit;
    width: 100%;
    height: 100%;
    gap: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.yourInterest-leftside_container .shine{
    position: relative;
    width: 5%;
    top: 3.6rem;
    left: 9.1rem;
    transform: rotate(21deg);
}
.yourInterest-leftside_container .leftside-header{
    font-weight: 800;
    font-size: 45px;
    color: #fff;
}

.yourInterest-leftside_container .leftside-paragraph{
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
    font-weight: normal;
    font-size: 17px;
    color: #fff;
    width: 70%;
    opacity: 0.6;
    line-height: 25px;
}

.yourInterest-leftside_container .slides{
    width: 100px;
    height: 5px;
    background: transparent;
}
.yourInterest-rightside{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .6rem;
    width: 50%;
    border: 2px solid #333;
    height: 100vh;
    background: transparent;
}
.yourInterest-rightside .rightside-header{
    position: relative;
    font-weight: 800;
    font-family: 'Times New Roman', Times, serif;
    font-size: 21px;
    color: rgb(21, 14, 59);
}

.yourInterest-rightside .rightside-paragraph{
    font-weight: normal;
    font-size: 11px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgba(71, 82, 82, 0.603);
}
.yourInterest-rightside form{
    width: 100%;
    height: 40%;
    justify-content: center;align-items: center;
    gap: 1rem;
}
form .tags{
    position: relative;
    width: 50%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .4rem;
}
form .tags label{
    border-radius: 20px;
    width: calc(font-size * 2.5);
    color: #fff;
    background: rgb(243, 154, 243);
}
form .tags label > button{
    background: transparent;
    width: fit-content;
    border: none;
}
form .tags label > button img{
    width: 8px;
}
form label.input{
    width: 50%;
    padding: 10px;
}
form .input input{
    width: 100%;
    padding: 10px;
    border-radius: 2px;
}
form .input input::placeholder{
    color: #b0abab;
}
form .input input a{
    position: relative;
    left: -1rem;
}
form button.btn{
    border: none;
    padding: 10px 15px;
    border-radius: 15px;
    width: 35px;
    background: rgb(146, 45, 241);
}
.clicked{
    border-radius: 20px;
    width: calc(font-size * 2.5);
    color: #fff;
    background: rgb(17, 17, 35);
}