.yourInterest-container{
    position: relative;
    min-height: 80vh;
    height: 100vh;
    display: flex;
    flex-direction: row;
    max-width: 100%;
    width: 100vw;
    background: #fff;
}
.yourInterest-leftside{
    position: relative;
    display: flex;
    width: 50%;
    border: 2px solid #333;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    
}
.yourInterest-leftside .yourInterest-leftside_container{
    position: relative;
    bottom: 9rem;
    left: 1rem;
    display: inherit;
    width: 100%;
    height: 100%;
    gap: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.yourInterest-leftside_container .shine{
    position: relative;
    width: 5%;
    top: 6rem;
    left: 11.6rem;
    transform: rotate(21deg);
}
.yourInterest-leftside_container .leftside-header{
    font-weight: 800;
    font-size: 45px;
    color: #fff;
}

.yourInterest-leftside_container .leftside-paragraph{
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
    font-weight: normal;
    font-size: 17px;
    color: #fff;
    width: 70%;
    opacity: 0.6;
    line-height: 25px;
}

.yourInterest-leftside_container .slides{
    width: 100px;
    height: 5px;
    background: transparent;
}
.yourInterest-rightside{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .4rem;
    width: 50%;
    border: 2px solid #333;
    height: 100vh;
    background: transparent;
}
.yourInterest-rightside .yourInterest-rightside_content{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20vh;
    width: 100%;
    gap: 0rem;
}
.yourInterest-rightside_content .rightside-header{
    position: relative;
    font-weight: 800;
    font-family: 'Times New Roman', Times, serif;
    font-size: 21px;
    color: rgb(21, 14, 59);
    margin: 0;
}

.yourInterest-rightside_content .rightside-paragraph{
    font-weight: normal;
    font-size: 11px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgba(71, 75, 75, 0.603);
    width: 70%;
    text-align: center;
    margin: 0;
}
form{
    position: relative;
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}
form .tags{
    position: relative;
    width: 100%;
    max-height: 60;
    display: flex;
    place-items: center;
}
form .tags .tags-content{
    position: relative;
    left: -6rem;
    max-height: 80%; 
    width: 50%;
    display: grid;
    place-items: left;
    grid-template-columns: repeat(4, 1fr);
    gap: .5rem;
}
form .tags .tags-content label.check{
    border-radius: 10px;
    padding: 5px;
    font-size: 11px;
    color: #fff;
    background: rgb(37, 37, 92);
    display: flex;
    justify-content: space-between;
}
form .tags .tags-content label span{
    background: transparent;
    width: fit-content;
    border: none;
    align-content: right;
}
form .tags .tags-content label span img{
    width: 10px;
    color: white;
    float: right;
}

form label.input{
    width: 85%;
    padding: 10px;
    display: flex;
    flex-direction:row;
    margin-bottom: .5rem;
}
form label.input input{
    width: 100%;
    padding: 10px;
    border-radius: 2px;
    border: none;
    border-radius: 4px;
    background: rgb(205, 202, 202);
}
form label.input input::placeholder{
    color: #838080;
}
form label.input a{
    position: relative;
    top: .7rem;
    left: -3rem;
    font-size: 13px;
}
form button.btn{
    border: none;
    padding: 10px 15px;
    border-radius: 15px;
    color: #fff;
    width: 100px;
    background: rgb(146, 45, 241);
}
.add{
    border-radius: 10px;
    padding: 5px;
    font-size: 11px;
    color: #fff;
    background: rgb(200, 137, 200);
    display: flex;
    justify-content: space-between;
}
.tags-content #tag1{
    width: 110px;
    height: 22px;
}
.tags-content #tag2{
    width: 60px;
    height: 22px;
}
.tags-content #tag3{
    width: 80px;
    height: 22px;
}
.tags-content #tag4{
    width: 140px;
    height: 22px;
}
.tags-content #tag5{
    width: 100px;
    height: 22px;
}
.tags-content #tag6{
    width: 60px;
    height: 22px;
}
.tags-content #tag7{
    width: 80px;
    height: 22px;
}
.tags-content #tag8{
    width: 80px;
    height: 22px;
}
.tags-content #tag9{
    width: 70px;
    height: 22px;
}
.tags-content #tag10{
    width: 70px;
    height: 22px;
}
.tags-content #tag11{
    width: 130px;
    height: 22px;
}
.tags-content #tag12{
    width: 70px;
    height: 22px;
}
.tags-content #tag13{
    width: 80px;
    height: 22px;
}
.tags-content #tag14{
    width: 80px;
    height: 22px;
}
.tags-content #tag15{
    width: 70px;
    height: 22px;
}
.tags-content #tag16{
    width: 100px;
    height: 22px;
}
.tags-content #tag17{
    width: 150px;
    height: 22px;
}
.tags-content #tag18{
    width: 80px;
    height: 22px;
}
.tags-content #tag19{
    width: 80px;
    height: 22px;
}
.tags-content #tag20{
    width: 90px;
    height: 22px;
}