/* fonts */

p {
  font-family: "Apercu";
}
/* code below styles the interactive-sec container on the sign up page */

.request-phone-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;

}

.request-phone-overlay {
  height: 100vh;
  background-color:#23194299;
  position: absolute;
  top: 0;
   
}
.request-phone-main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.request-phone-hero {
  background: url("../Images/verify_img.png");
  background-position: center;
  height: 100%;
  width: 50%;
  background-size:cover;
  border: 2px solid #333;
  
}
.hero-title{margin-top: 20%;}
.request-phone-hero h1 {
  color: #fff;
  margin-block: 20px;
  font-family: "Gluten";
  font-size: 45px;
}
.request-phone-hero p {
  font-family: 'Times New Roman', Times, serif;
    text-align: left;
    font-weight: normal;
    font-size: 17px;
    color: #fff;
    opacity: 0.6;
    width: 90%;
    line-height: 25px;
}
.request-phone-hero > div {
  position: relative;
  padding: 20px;
}

.request-phone-main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  max-height: 274px;
  flex-direction: column;
}
.request-phone-main-container p {
  font-size: 14px;
}
.shine-logo {
  position: relative;
  width: 53.33px;
  height: 49.28px;
  transform: translate(-45px, -25px) rotate(13.52deg);
}
.phone-input-container {
  display: flex;
  flex-direction: row;
  margin: 30px 0 30px -20px;
}

.country-flag {
  width: 50px;
  height: 30px;
  border: 1px solid gainsboro;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  border-radius: 5px;
}
.flag-img {
  width: 25px;
  height: 25px;
}
.country-code {
  padding: 3px;
}
.county-phone-number-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid gainsboro;
  width: 170px;
  border-radius: 5px;
}
.phone-number-1 {
  border-left: 1px solid gainsboro;
  height: 20px;
}
.phone-input {
  width: 120px;
  font-size: 16px;
  padding-left: 5px;
  border: none;
  outline: none;
}
.request-phone-btn {
  padding: 13px 43px;
  border-radius: 30px;
  background-color: #9747ff;
  color: white;
  outline: none;
  border: none;
  font-weight: 500;
  font-size: 15px;
  cursor: pointer;
}
.select-country {
  position: absolute;
  top: 50%;
  left: 65%;
  width: 350px;
  height: 30px;
  background-color: gainsboro;
  border-radius: 5px;
  box-shadow: 0.2x 1px 0px 4px;
  height: 250px;
  overflow-y: scroll;
  display: none;
}

.select-country.show-countries {
  display: block;
}
.select-main-article {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 4px;
}
.select-main-article:hover {
  background-color: white;
}

.selet-flag-country-1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.select-flag-img {
  width: 20px;
  height: 20px;
  margin-right: 3px;
}
.error{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 170px;
  border-radius: 5px;
  border: 1px solid red;
}
.confirm{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 170px;
  border-radius: 5px;
  border: 1px solid green;
}