.containerInner{
    height: 100vh;
    width: auto;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
}

.containerInnerLeft{
    flex: 1;
}

.containerInnerRight{
    flex: 1;

}

.containerInnerLeft_img{
    height: 100%;
    background-size:cover;
    
}

.containerInnerLeft_imgColor{
    height: 100%;
    background-color:#23194299;
    position: relative;

}

.containerInnerLeft_imgColorInner{
position: absolute;
top: 100px;
left: 30px;

}

.containerInnerLeft_imgColorInner section h2{
    color: #fff;
    font-size: 50px;
    
}

.containerInnerLeft_imgColorInner section p{
    color: #fff;
    font-family:'Courier New', Courier, monospace;
    font-size: 13px;
    line-height: 20px;

}

.containerInnerRightInner{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.containerInnerRightInnerChild{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerInnerRightInnerChild h2{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bolder;

}

/* inputs styling */
.inputs{
  width: 30px;
  height: 35px;
  

}

.errorCode{
    border: 1px solid red !important;
}

/* ....................................... */

.containerInnerRightInnerChild1,.containerInnerRightInnerChild2,.containerInnerRightInnerChild3,.containerInnerRightInnerChild4,.containerInnerRightInnerChild5 {
   padding: 10px 0;
}


.containerInnerRightInnerChild p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: gray;

}

.containerInnerRightInnerChild3{
    display: flex;
    gap: 10px;
    
}

.containerInnerRightInnerChild3 input{
    font-size: 20px;
    border: 1px solid #33333395;
    text-align: center;
}

.containerInnerRightInnerChild4{
    width: 100%;
display: flex;
flex-direction: row;
gap: 30%;
}

.containerInnerRightInnerChild5 button{
padding: 10px 50px;
border: none;
border-radius: 50px;
font-family: Gluten;
background: #9747FF;
color: #fff;
cursor: pointer;
}