.containerInner{
    height: 100vh;
    width: auto;
    margin-bottom: 0px;
    display: flex;
    flex-direction: row;
}

.containerInnerLeft{
    flex: 1;
}

.containerInnerRight{
    flex: 1;

}

.containerInnerLeft_img{
    height: 100%;
    background-size:cover;
    background-position: center;
    
}

.containerInnerLeft_imgColor{
    height: 100%;
    background-color:#23194299;
    position: relative;

}

.containerInnerLeft_imgColorInner{
position: absolute;
top: 200px;
left: 30px;
gap: 1rem;

}

.containerInnerLeft_imgColorInner section h2{
    color: #fff;
    font-size: 50px;
    
}

.containerInnerRightInner{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.containerInnerRightInnerChild{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#verify-email-h1 {
    font-family:'myFont';
    font-size: 30px;
    font-weight: 500;

}

/* inputs styling section */

.inputs{
  width: 30px;
  height: 35px;
  font-size: 20px;
  border: 1px solid #33333395;
  text-align: center;
}

.errorCode{
    border: 1px solid red !important;
}
.confirmedCode{
    border: 1px solid green !important;
}

/* ....................................... */

.containerInnerRightInnerChild1,.containerInnerRightInnerChild2,.containerInnerRightInnerChild3,.containerInnerRightInnerChild4,.containerInnerRightInnerChild5 {
   padding: 10px 0;
}

.containerInnerRightInnerChild p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: gray;

}

.containerInnerRightInnerChild3{
    display: flex;
    gap: 10px;
    
}

/* .containerInnerRightInnerChild3 input{
    font-size: 20px;
    border: 1px solid #33333395;
    text-align: center;
} */

.containerInnerRightInnerChild4{
    width: 100%;
display: flex;
flex-direction: row;
gap: 30%;
}

.VerificationStatus{
    height: 40px;
    width: 180px;
    background-color: #fff;
    position: fixed;
    right: 10px;
    top:20px;
    box-shadow: 0px 0px 5px 1px #ffe3e3;
    border-radius: 7px;
    overflow: hidden;
    display: none;
}

.VerificationStatus_display{
    display: block
}

.VerificationStatus_Section1{
    height: 90%; 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.status-txt a{
    font-size: 12px;
    font-family: 'Apercu';
    color:#FD190A;
}

.VerificationStatus_Section2{
height: 10%;
/* background-color: #FD190A; */
}

.danger-sign{
    padding-top: 2px;
    
}




.danger-sign img{
width: 16px;

}