
.con {
    border: none;
}
#con-2 {
    position: relative;
    top: 26%;
    left: 20px;
    padding: 0;
}

#signIn-container {
    width: 100%;
    height: 100vh;
    display: flex;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
}

.sign-in{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sign-in-inner {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
}

/* Header Text styles */
#sign-in-h1 {
color: #231942;
font-family: 'myFont';
font-weight: 500;
font-size: 30px;
margin: 0px;
text-align: center;
width: 350px;
height: 33px;
}

/* Input section styles  */
.sign-in-input {
    width: 100%;
    margin: 15px 0px;
}

.sign-in-input input{
width: 100%;
height: 35px;
background-color: #23194233;
border: none;
padding: 5px 20px;
font-size: 15px;
border-radius: 5px;
}

.sign-in-input input::placeholder{
    font-family: 'Apercu';
    color: #919192;
}

.sign-in-inner input:focus{
    outline: 1px solid rgb(125, 69, 125);
    
}

/* CheckBox styles */

.sign-in-inner3{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sign-in-inner3_left{
display: flex;
gap: 1px;

}

.sign-in-inner3_left input{
    transform: scale(1);
    accent-color: rgb(151, 71, 207);
    cursor: pointer;
}
.sign-in-inner3_left input:focus{
    outline: none;
}

.sign-in-inner3_left label {
    display: inline-block;
    vertical-align: middle; /* Align the label vertically */
    font-family: 'Apercu';
    font-size: 11px;
    color: #333;
  }

  .sign-in-inner3_right a {
    font-family: 'Apercu';
    font-size: 11px;
    color: #9747FF;
  }

.signIn-btn {
    margin: 40px;
}
#sign-in-inner4 button {
    margin-top: 10px;
}
.sign-in-inner5 h2{
font-family:'Apercu';
font-size: 13px;
color: #B3B3B3;
}

.horizontal-line{
    margin: 4px 0px;
    width: 100%;
    height: 0.5px;
    background-color: #d1d1d1;
}
@media (max-width: 800px) {
    .sign-in-inner {
        height: auto;
        width: 70%;
    }
    #google-signIn-btn {
        width: 300px;
    }
}