.containerInner{
    height: 100vh;
    width: auto;
    margin-bottom: 0px;
    display: flex;
    flex-direction: row;
}

.SetNewPassword_containerInnerLeft_imgColor{
    height: 100%;
    background-color:#23194231;
    position: relative;
}

.SetNewPassword_input{
    width: 22rem;
    height: 35px;
    font-size: 15px;
    border: none;
    padding: 5px 5px;
    background-color: #cfcfcf;
}
.SetNewPassword_input:focus{
    outline: none;
}

.SetNewPassword_containerInnerRightInnerChild5{
    padding-top: 50px ;
}