/* fonts */
@font-face {
    font-family: 'myFont';
    src: url('../../assets/fonts/Gotham_Black/Gotham_Black.otf'); /* Adjust path and format as needed */
    format: format('opentype');
  }
  @font-face {
    font-family: 'Apercu';
    src: url('../../assets/fonts/apercu/Apercu_Regular.otf'); /* Adjust path and format as needed */
    format: format('opentype');
  }
#sign-up-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
}
/* code below styles the interactive-sec container on the sign up page */
.con {
    width: 50%;
    height: 100%;
    border: 2px solid #333;
}
.interactive-sec {
    background: url('../Images/selfie.png');
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
}
.signup-h1 {
    margin-block: 20px;
}
#con-1 {
    position: relative;
    top: 17%;
    padding: 20px;
}
#shine-logo {
    position: relative;
    width: 53.33px;
    height: 49.28px;
    transform: translate(-45px, -27px) rotate(20.52deg);
}
/* the styling below is for the sign-up section of the sign up page */

.sign-up {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sign-up-form {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    text-align: center;
    padding: 10px;
}
.sign-up-form > div {
    text-align: left;
    flex-direction: column;
}
.sign-up-form p {
    color: #919192;
    padding: 10px;
    font-size: 15px;
}
#create-account-text {
    font-family: 'myFont';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 33px; 
    color: #231942;
}
.input-boxes {
    width: 465px;
    height: 35px;
    margin-block: 10px;
    padding: 5px 10px;
    background: rgba(35, 25, 66, 0.2);
    border-radius: 5px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
/* I agree to the terms & conditions */
.checkbox {
    font-weight: 300;
    line-height: 6px;
    font-family: 'Apercu';
    font-style: normal;
    text-align: left;
    display: block;
}

.sign-up-btn:active {
    background: #34076e;
}

/* Google Icon */
.google_icon {
    height: 20px;
    width: 20px;
}

/* OR */
.or {
font-style: normal;
font-weight: 300;
font-size: 13px;
line-height: 15px;
width: 18px;
height: 15px;
color: #B3B3B3;
border-bottom: 1px solid grey;
width: 465px;
text-align: center;
}

.checkedIcon {
  height: 15px;
  width: 15px;
}
#checked-password-validation p {
    font-size: 10px;
    height: 40px;
    padding: 0;
}
#checked-password-validation > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    width: 500px;
}
#checked-password-validation > div > p {
    display: flex;
}
#checked-password-validation > p {
    color: #333;
    text-align: left;
    font-size: 13px;
}
#highlight {
    color: #9747FF;
    text-decoration: none;
}
.input-box {
    height: inherit;
    background-color: transparent;
    border: none;
    display: grid;
    justify-self: flex-start;
    margin: -5px -10px;
    width: 97%;
    outline: 0;
    padding: 5px 10px;
}
.password-icon {
    cursor: pointer;
    height: 20px;
}
.sign-up-slider {
    margin-top: 15px;
}