*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}



.App{
  max-height: 100vh;
  height: 100%;
  max-width: 100vw;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

@media only  screen and (min-width: 600px){
body{
  font-family: 'Times New Roman', Times, serif;
  overflow: hidden;
  max-height: 100vh;
  height: 100%;
  max-width: 100vw;
  width: 100%;
}
.home-container{
  max-height: 100vh;
  height: 100%;
  max-width: 100vw;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  position: relative;
}
.contain{
  margin: 0;
  padding: 0;
  max-height: 100vh;
  height: 100%;
  max-width: 100%;
  width: 100%;
  background: linear-gradient(to right ,rgba(0,0,0,0.6), rgba(0,0,0,0.8));
  display: flex;
  flex-direction: column;
}
.contain-first{
  position: relative;
  height: 30vh;
  display: flex;
  justify-content: space-between;
}
.contain-first > img{
  position: relative;
  height: inherit;
  width: 15%;
  opacity: 0.7;
}
.contain-middle{
  height: 45vh;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 50%;
}

.contain-middle > img{
  position: relative;
  left: 35px;
  height: 40%;
  width: 120px;
  opacity: 0.8;
}

.content-text{
  display: flex;
  flex-direction: column;
  height: 40vh;
  max-width: 70%;
  width: 15%;
}
.content-text > img{
  position: relative;
  left: 225px;
  top: 10px;
  height: 50%;
  width: 25px;
}
.content-text .content{
  display: flex;
  flex-direction: row;
  gap: 0;
  width: 600px;
}
.content-text .content .text{
  width: 100%;
  position: relative;
  top: 0;
  left: -5px;
  font-size: 25px;
  color: aliceblue;
}
.content-text .content .subtext{
  width: 100%;
  position: relative;
  left: -132px;
  font-size: 25px;
  color: rgb(83, 5, 83);
}
.content-text span{
  position: relative;
  top: 0;
  display: flex;
  flex-direction: column;
  left: 20px;
  width: 100%;
  gap: 1px;
}

 .content-text span .first{
  position: relative;
  background: linear-gradient(to right, rgb(202, 4, 4),rgb(83, 5, 83));
  height: 2px;
  width: 100%;
}
.content-text span .second{
  position: relative;
  left: 30px;
  background: linear-gradient(to right, rgb(202, 4, 4),rgb(83, 5, 83));
  height: 2px;
  width: 90%;
}
.content-text span .third{
 background: linear-gradient(to right, rgb(202, 4, 4),rgb(83, 5, 83));
 position: relative;
 left: 40px;
height: 2px;
width: 80%;
}

.contain-last{
  height: 25vh;
  display: flex;
  justify-content: space-between;
}
.contain-last > img{
  height: inherit;
  width: 20%;
  opacity: 0.7;
}
}

@media only  screen and (max-width: 600px){
  body{
    height: 100vh;
    width: 100vw;
  }
  .home-container{
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
  }
  .contain{
    background: linear-gradient(to right ,rgba(0,0,0,0.8), rgba(0,0,0,0.7));
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
  }
  .contain-first{
    display: flex;
    justify-content: space-between;
    height: 20vh;
  }
  .contain-first > img{
    width: 20%;
    height: inherit;
    opacity: 0.6;
  }
  .contain-middle{
  height: 60vh;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20%;
  }
  .contain-middle > img{
  position: relative;
  height: 25%;
  width: 60px;
  opacity: 0.8;
  }
  .content-text{
  position: relative;
  left: -50px;
  display: flex;
  flex-direction: column;
  height: 40vh;
  width: 15%;
}
.content-text > img{
  position: relative;
  left: 154px;
  top: 9px;
  height: 18%;
  width: 20px;
}
.content-text .content{
  display: flex;
  flex-direction: row;
  gap: 0;
  width: 350px;
}
.content-text .content .text{
  width: 100%;
  position: relative;
  top: 0;
  left: -5px;
  font-size: 19px;
  color: aliceblue;
}
.content-text .content .subtext{
  width: 100%;
  position: relative;
  left: -49px;
  font-size: 19px;
  color: rgb(83, 5, 83);
}
.content-text span{
  position: relative;
  top: 0;
  display: flex;
  flex-direction: column;
  left: 0px;
  width: 168px;
  gap: 1px;
}

 .content-text span .first{
  position: relative;
  background: linear-gradient(to right, rgb(202, 4, 4),rgb(83, 5, 83));
  height: 2px;
  width: 100%;
}
.content-text span .second{
  position: relative;
  top: 0;
  left: 10px;
  background: linear-gradient(to right, rgb(202, 4, 4),rgb(83, 5, 83));
  height: 2px;
  width: 90%;
}
.content-text span .third{
 background: linear-gradient(to right, rgb(202, 4, 4),rgb(83, 5, 83));
 position: relative;
 top: 0;
 left: 20px;
height: 2px;
width: 80%;
}

.contain-last{
  display: flex;
  justify-content: space-between;
  height: 20vh;
}
.contain-last > img{
  width: 25%;
  height: inherit;
  opacity: 0.7;
}
}