* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Gluten", cursive;
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: 100vh;
  height: 100%;
  max-width: 100vw;
  width: 100%;
  cursor: default;
}

img {
  max-inline-size: 100%;
  block-size: auto;
}

.row {
  display: flex;
}

.col {
  flex: 1;
}

.App {
  max-width: 1400px;
  margin: 0 auto;
  position: relative;
}
/*Navbar styling*/
.navbar {
  position: relative;
  background-color: rgb(243, 248, 248);
  max-height: 20vh;
  height: 100%;
  max-width: 100%;
  width: 100%;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .leftside {
  position: relative;
  width: 20%;
}

.navbar .leftside .Img1 {
  position: relative;
  top: 0;
  height: 4%;
  width: 35px;
}
.navbar .leftside .Img2 {
  position: relative;
  top: -8px;
  height: 5%;
  width: 85px;
}
nav {
  position: relative;
  display: flex;
  width: 40%;
  padding: 1px;
}
nav > ul {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 45px;
  list-style: none;
}
nav > ul > li {
  text-transform: capitalize;
  font-size: 15px;
}
nav > ul > li > a {
  text-decoration: none;
  color: rgb(183, 175, 175);
  font-weight: 600;
}
nav > ul > li > a:hover {
  border-bottom: 2px solid rgba(232, 53, 53, 0.863);
  color: rgb(85, 82, 82);
  font-weight: 800;
  font-size: 17px;
}
.navbar .rightside {
  position: relative;
  width: 20%;
}
.navbar .rightside > a > button {
  position: relative;
  float: right;
  font-size: 15px;
  cursor: pointer;
  width: 50%;
  background: rgb(151, 71, 207);
  color: aliceblue;
  border: none;
  border-radius: 2rem;
  padding: 1rem;
}
.navbar .rightside > a > button:hover{
  color: rgba(95, 238, 51, 0.863);
  transform: translateY(100);
  font-size: 17px;
  /* end of navbar styling */
}
/**styling for the section container**/
.sections {
  position: relative;
  display: flex;
  flex-direction: column;
  /*    max-height: 500vh; */
  height: 100%;
}
/*hero section*/
.writeUps p {
  width: 400px;
  line-height: 25px;
  color: aliceblue;
  text-align: left;
}
.writeUps a button {
  position: relative;
  background: rgb(151, 71, 207);
  font-family: inherit;
  cursor: pointer;
  color: aliceblue;
  font-size: 16px;
  padding: 1rem;
  border: none;
  border-radius: 2rem;
}
.fourth-container .FC-text{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.fourth-container .FC-text h1 {
  position: relative;
  font-size: 22px;
  text-align: center;
}
.fourth-container p{
  position: relative;
  text-align: center;
  width: 90%;
  font-size: 13px;
  font-weight: normal;
  color: rgb(176, 175, 175);
}
.fourth-container .FC-groupies {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 75%;
  width: 50%;
  justify-content: center;
}
.FC-groupies a {
  position: relative;
  display: flex;
  text-decoration: none;
  align-self: center;
}
.FC-groupies a .OpenBtn {
  position: relative;
  width: 200px;
  top: 30px;
  z-index: 1;
}
.FC-groupies .group {
  position: relative;
  width: 100%;
  height: 100%;
}
/* last container styling */
.last-container {
  /* height: 120vh; */
  display: flex;
  flex-direction: column;
}
.last-container .img {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 20%;
  width: 100%;
}
.last-container .img .circle1 {
  position: relative;
  align-self: flex-start;
  justify-content: flex-start;
  top: -60px;
  width: 15%;
}
.last-container .img .circle2 {
  position: relative;
  align-self: flex-end;
  top: 300px;
  left: 900px;
  width: 12%;
}
.last-container .img .circle3 {
  position: relative;
  align-self: center;
  top: 650px;
  width: 45%;
}
.last-container .img .circle4 {
  position: relative;
  align-self: flex-start;
  height: 100px;
  width: 10%;
}
.last-container .subLast {
  position: relative;
  top: -100px;
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.subLast .joinWaitlist {
  width: 55%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}
.joinWaitlist h1 {
  position: relative;
  font-size: 22px;
  text-align: center;
}
.joinWaitlist p{
  position: relative;
  text-align: center;
  font-size: 14px;
  font-weight: normal;
  color: rgb(180, 180, 174);
}
.joinWaitlist .womansit {
  position: absolute;
  width: 15%;
  right: -35px;
  top: -100%;
  z-index: 2;
}
.joinWaitlist form {
  position: relative;
  width: 100%;
}
.joinWaitlist form > input {
  position: relative;
  border-radius: 30px;
  padding: 30px;
  background: rgb(223, 219, 219);
  border: none;
  width: 100%;
}
.subLast .contactUs-container {
  position: relative;
  /* top: 200px; */
  /* height: 75%; */
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.contactUs-container h1{
  position: relative;
  text-align: center;
  font-size: 18px;
}
.contactUs-container p{
  position: relative;
  text-align: center;
  font-size: 13px;
  font-weight: normal;
  color: rgb(180, 180, 174);
}
.contactUs-container .manWalk {
  position: relative;
  align-self: center;
  width: 12%;
}
/* Preoloader Page styling */
.home-container {
  max-height: 100vh;
  height: 100%;
  max-width: 100vw;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  position: relative;
}
.contain {
  margin: 0;
  padding: 0;
  max-height: 100vh;
  height: 100%;
  max-width: 100%;
  width: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8));
  display: flex;
  flex-direction: column;
}
.contain-first {
  position: relative;
  height: 30vh;
  display: flex;
  justify-content: space-between;
}
.contain-first > img {
  position: relative;
  height: inherit;
  width: 15%;
  opacity: 0.7;
}
.contain-middle {
  height: 45vh;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 50%;
}

.contain-middle > img {
  position: relative;
  left: 35px;
  height: 40%;
  width: 120px;
  opacity: 0.8;
}

.content-text {
  display: flex;
  flex-direction: column;
  height: 40vh;
  max-width: 70%;
  width: 15%;
}
.content-text > img {
  position: relative;
  left: 225px;
  top: 10px;
  height: 50%;
  width: 25px;
}
.content-text .content {
  display: flex;
  flex-direction: row;
  gap: 0;
  width: 600px;
}
.content-text .content .text {
  width: 100%;
  position: relative;
  top: 0;
  left: -5px;
  font-size: 25px;
  color: aliceblue;
}
.content-text .content .subtext {
  width: 100%;
  position: relative;
  left: -132px;
  font-size: 25px;
  color: rgb(83, 5, 83);
}
.content-text span {
  position: relative;
  top: 0;
  display: flex;
  flex-direction: column;
  left: 20px;
  width: 100%;
  gap: 1px;
}

.content-text span .first {
  position: relative;
  background: linear-gradient(to right, rgb(202, 4, 4), rgb(83, 5, 83));
  height: 2px;
  width: 100%;
}
.content-text span .second {
  position: relative;
  left: 30px;
  background: linear-gradient(to right, rgb(202, 4, 4), rgb(83, 5, 83));
  height: 2px;
  width: 90%;
}
.content-text span .third {
  background: linear-gradient(to right, rgb(202, 4, 4), rgb(83, 5, 83));
  position: relative;
  left: 40px;
  height: 2px;
  width: 80%;
}

.contain-last {
  height: 25vh;
  display: flex;
  justify-content: space-between;
}
.contain-last > img {
  height: inherit;
  width: 20%;
  opacity: 0.7;
  /* end of Preloader page styling */
}

@media only screen and (max-width: 600px) {
  body {
    height: 100vh;
    width: 100vw;
  }
  .home-container {
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
  }
  .contain {
    background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.7)
    );
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
  }
  .contain-first {
    display: flex;
    justify-content: space-between;
    height: 20vh;
  }
  .contain-first > img {
    width: 20%;
    height: inherit;
    opacity: 0.6;
  }
  .contain-middle {
    height: 60vh;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20%;
  }
  .contain-middle > img {
    position: relative;
    height: 25%;
    width: 60px;
    opacity: 0.8;
  }
  .content-text {
    position: relative;
    left: -50px;
    display: flex;
    flex-direction: column;
    height: 40vh;
    width: 15%;
  }
  .content-text > img {
    position: relative;
    left: 154px;
    top: 9px;
    height: 18%;
    width: 20px;
  }
  .content-text .content {
    display: flex;
    flex-direction: row;
    gap: 0;
    width: 350px;
  }
  .content-text .content .text {
    width: 100%;
    position: relative;
    top: 0;
    left: -5px;
    font-size: 19px;
    color: aliceblue;
  }
  .content-text .content .subtext {
    width: 100%;
    position: relative;
    left: -49px;
    font-size: 19px;
    color: rgb(83, 5, 83);
  }
  .content-text span {
    position: relative;
    top: 0;
    display: flex;
    flex-direction: column;
    left: 0px;
    width: 168px;
    gap: 1px;
  }

  .content-text span .first {
    position: relative;
    background: linear-gradient(to right, rgb(202, 4, 4), rgb(83, 5, 83));
    height: 2px;
    width: 100%;
  }
  .content-text span .second {
    position: relative;
    top: 0;
    left: 10px;
    background: linear-gradient(to right, rgb(202, 4, 4), rgb(83, 5, 83));
    height: 2px;
    width: 90%;
  }
  .content-text span .third {
    background: linear-gradient(to right, rgb(202, 4, 4), rgb(83, 5, 83));
    position: relative;
    top: 0;
    left: 20px;
    height: 2px;
    width: 80%;
  }

  .contain-last {
    display: flex;
    justify-content: space-between;
    height: 20vh;
  }
  .contain-last > img {
    width: 25%;
    height: inherit;
    opacity: 0.7;
  }
}
