
/* buttons */
.btn {
    background: #9747FF;
    width: 136px;
    height: 39px;
    gap: 0;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: 'Gluten';
    display: block;
}
/* every question ask in the pages form sections */
.questions {
    font-family: 'myFont';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 33px;
    color: #231942;
}

/* every paragraph text */
.paragraph-info {
    font-family: 
    'Apercu', 'Times New Roman', Times, serif;
    text-align: left;
    font-weight: normal;
    font-size: 20px;
    color: #fff;
    opacity: 0.6;
    width: 80%;
    line-height: 25px;
}
p {
font-family: 'Apercu', 'Times New Roman', Times, serif;;
}

/* all h1 content with there specific word entrance */
h1 {
    font-family: 'Gluten';
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 53px;
    color: #fff;
}
.logoCon {
    display: none;
}
@media (max-width: 600px) {
    .user-invite-info {
        display: none;
    }
    .user-invite-input {
        width: 100%;
        flex-direction: column;
    }

    .logoCon {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 30px;
    }
    .logoIcon {
        width: 30.06px;
        height: 31px;
    }
    .logoText {
    font-family: Gluten;
    font-size: 17.02px;
    font-weight: 600;
    line-height: 15.02px;
    text-align: left;
    }
}