
/* buttons */
.btn {
    background: #9747FF;
    width: 136px;
    height: 39px;
    gap: 0;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    opacity: 1;
    color: #fff;
    font-family: 'Gluten';
}